{% extends "base.html" %}

{% block first %}
<nav>
    <div class="nav-container">
        <div class="nav-logo-container">
            <img class="nav-logo"
                src="https://res.cloudinary.com/ddxcued5s/image/upload/v1709692225/bloostagram-logo-update.png"
                alt="dog-logo"
            />
            <h1 class="nav-title">Bloostagram</h1>
        </div>
        <a href="/">Home</a>
        <a href="/posts/all">Feed</a>
        <a href="/posts/new">New Post</a>
    </div>
</nav>

{% block second %}
{% endblock %}

{% endblock %}