{% extends "base.html" %}


{% block first %}
<div class="splash-container">
    <div>
        <h1 class="splash-title">Bloostagram</h1>
        <img class="splash-logo" 
            src="https://res.cloudinary.com/ddxcued5s/image/upload/v1709692225/bloostagram-logo-update.png" 
            alt="cat-logo" 
        />
        <p class="splash-detail">The dog with so much to talk about, he needs his own social media site!</p>   
    </div>
    <a
        href="/posts/all"
        class="button-link"
    >
        Enter
    </a>
</div>
{% endblock %}
