* {
  box-sizing: border-box;
  margin: 0;
}
#root {
  width: auto;
  max-width: 1280px;
  margin: 0 auto;

  text-align: center;
}

.cool-dog-pic {
  height: 300px;
}

.light {
  background-color: whitesmoke;
  color: black;
  border-color: black;
  border-bottom-color: black;
}

.dark {
  background-color: black;
  color: whitesmoke;
  border-color: whitesmoke;
  border-bottom-color: whitesmoke;
}
