{% extends "base.html" %}

{% block content %}
{% if id %}
<h2>Update a Post</h2>
<form class="post-form" method="POST" action="/posts/{{id}}/update">
{% else %}
<h2>Create a New Post</h2>
<form class="post-form" method="POST" action="/posts/new">
{% endif %}
  <!-- {{form.hidden_tag()}} -->
  {{form.csrf_token}}
  <div>
    {% if form.errors %}
    <p style="color: red">{{form.errors.author}}</p>
    {% endif %}
    {{form.author.label}}
    {{form.author}}
  </div>
  <div>
    {% if form.errors %}
    <p style="color: red">{{form.errors.caption}}</p>
    {% endif %}
    {{form.caption.label}}
    {{form.caption}}
  </div>
  <div>
    {% if form.errors %}
    <p style="color: red">{{form.errors['image'][0]}}</p>
    {% endif %}
    {{form.image.label}}
    {{form.image}}
  </div>
  {{form.submit}}
</form>
{% endblock %}